<div class="card">
  <img [src]="product().image" alt="{{ product().name }}" />

  <h3 class="title">{{ product().name }}</h3>

  <p class="description">
    {{ product().description }}
  </p>

  <p class="price">{{ product().price }} ₸</p>

  <p class="rating">
    ⭐ {{ product().rating }}
  </p>

  <p class="stock">In stock</p>

  <p class="likes">❤️ {{ product().likes }}</p>
<div class="buttons">
<button class="primary-btn" (click)="openKaspi()">
  Open on Kaspi
</button>
    <button class="secondary-btn" (click)="like()">Like</button>
    <button class="secondary-btn" (click)="share()">
  Share WhatsApp
</button>
    
<button 
  class="danger-btn"
  [disabled]="product().likes >= 10"
  [class.locked]="product().likes >= 10"
  (click)="remove()">
  Delete
</button>

  </div>
</div>