<h2>Albums</h2>

<div class="toolbar">
  <input [(ngModel)]="newTitle" placeholder="New album title">
  <button class="btn primary" (click)="create()">Add</button>
  <button class="btn primary" (click)="sortAsc()">A–Z</button>
  <button class="btn primary" (click)="sortDesc()">Z–A</button>
</div>
<ul *ngIf="!loading">
  <li *ngFor="let album of albums">
    <a [routerLink]="['/albums', album.id]">
      {{ album.id }} - {{ album.title }}
    </a>
    <button class="delete" (click)="delete(album.id)">Delete</button>
  </li>
</ul>